table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #dddddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
}

th {
    background-color: #f95919;
    color: white;
    font-weight: bold;
    text-align: left;
}

td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dddddd;
}
